.arkfranklinheader-component {
  color: #44003e;
  font-weight: bold;
  margin: 10px auto;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.arkfranklinheader-component img {
  max-width: 100%;
  height: auto;
}

